.header{
    position: relative;
    padding: calc(var(--section-padding-top) * 3) 0;
    color: var(--secondary-text-color);
}


.header h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
}

.header h2{
    text-align: center;
    padding: 4vw 35%;
    font-weight: 400;
}

.linksWrapper{
    padding-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

.linksWrapper a{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}
.linksWrapper svg{
    font-size: 3.8rem;
}

/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){
    
}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .header h2{
        padding: 6vw 30%;
    }
    .linksWrapper a{
        gap: 1.5vw;
    }
    .linksWrapper{
        padding-top: 4.5vw;
        gap: 4.5vw;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .header h2{
        padding: 10vw 25%;
    }
    .linksWrapper a{
        gap: 2vw;
    }
    .linksWrapper{
        padding-top: 8vw;
        gap: 8vw;
    }
    .linksWrapper1{
        flex-direction: column;
        gap: 6vw;
    }
}