.donateContent{
    position: relative;
    padding: var(--section-padding-top) 0;
}
.donateContent p{
    width: 50%;
    font-size: 1.4rem;
}

.buttonWrapper{
    display: flex;
    gap: 2vw;
}

.img{
    width: 50%;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .donateContent p{
        width: 65%;
        font-size: 1.4rem;
    }
    .img{
        width: 85%;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .donateContent p{
        width: 75%;
        font-size: 1.5rem;
    }
    .img{
        width: 100%;
    }
}